.navigation-menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content input {
    margin-bottom: 7px;
}